/* This file is for your main application css. */

/*@import "./phoenix.css";*/
body {
  background-color: darkslateblue;
  min-height: 100vh;
  font-family: Roboto, sans-serif;
  font-weight: normal;
  color: #eeeeee;
}
